.navbar {
	background-color: #c9bf97!important;
}

.navbar-brand, .nav-link {
	color: white!important;
}

#main {
	margin: 20px!important;
}

.livros {
	display: flex;
}

.livro {
	width: 300px;
	margin: 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px solid rgba(100, 100, 100, 0.5);
	border-radius: 3px;
}

.livro:hover {
	box-shadow: 0px 0px 5px 1px #57afbd;
	border: 1px solid #57afbd;
}

.titulo {
	font-size: 20px;
}

.capa-img {
	padding: 5px;
	display: flex;
	align-items: center;
}
